<header>
    <div class="container">
     <div class="row"> 
        <div class="col-md-3 col-sm-3 col-3">
         <div class="logo"> 
            <p> Nor-shipping 2019</p>
         </div>    
        </div>
        <div class="col-md-9 col-sm-9 col-9 text-end"> 
         <div class="menu_icon" (click)="openmenu()"> <i class="fa-solid fa-bars fa-lg" style="color: #707275;"></i></div>
           <div class="menu" [class.menuClass]="menuVariable">
               <ul>
                  <li class="pink"> <div> <p class="title"> DEALS</p> <p class="detail"> 43</p></div> </li>
                  <li class="purple">  <div > <p class="title"> TOTAL VALUE[NOK]</p> <p class="detail">4.19 mln</p></div></li>
                  <li class="blue"> <div> <p class="title"> HIT RATE</p> <p class="detail">10%</p></div></li>
                  <li class="green"> <div> <p class="title"> DEALS WON</p> <p class="detail">12/65</p></div></li>
                  <li class="orange" > <div> <p class="title"> NEW CLIENTS</p> <p class="detail">8/12</p></div></li>
               </ul>

           </div>

        </div>
     </div>
    </div>
</header>

